body {
	background-color: #000000;
	text-align: center;
	font-family: Verdana, sans-serif;
	flex-direction: column;
}

.header {
	color: white;
	font-size: 50px;
	font-weight: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

a:link {
	color: aquamarine;
	text-decoration: none;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	font-size: 42px;
	color: white;
	font-weight: 300;
}

h3 {
	font-size: 21px;
	color: grey;
}

.copy {
	text-align: right;
	color: gray;
}
