body {
	background-color: #000000;
}

.header {
	color: white;
	font-size: 50px;
	font-weight: normal;
	font-family: Verdana, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
h1 {
	display: flex;
	align-items: center;
	justify-content: center;
}

a:link {
	color: aquamarine;
	text-decoration: none;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
