body {
	background-color: #000000;
}

.container {
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-weight: normal;
	font-family: Verdana, sans-serif;
	align-items: center;
}
